<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Detail demo page!</title>
  </head>
  <body>
    <div id="content"></div>
    <script type='text/javascript' src='../../bower_components/jquery/jquery.js'></script>
    <script type='text/javascript' src='../../bower_components/canjs/can.jquery.js'></script>
    <script type='text/javascript' src='../../bower_components/canjs/can.view.mustache.js'></script>
    <script type='text/javascript' src='detail.js'></script>
    <script type='text/javascript'>
      var template = can.mustache('<detail hello="hello"></detail>');
      $('#content').html(template({
        hello: "world!"
      }));
    </script>
  </body>
</html>