<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Compose demo page!</title>
  </head>
  <body>
    <button>Toggle Compose Form</button>
    <div id="content"></div>
    <script src="../../bower_components/steal/steal.js"></script>
    <script>
      steal('components/compose', function(){
        var isExpanded = can.compute(false),
            view = can.stache('<w-compose is-expanded="{isExpanded}"></w-compose>');

        $('#content').html(view({
          isExpanded : isExpanded
        }));

        $('button').click(function(){
          isExpanded(!isExpanded());
        });
      })
    </script>
  </body>
</html>